# ------ Clion & CMake ignore ------
cmake-build-debug/
cmake-build-release/
_skbuild/
.cmake/

# ------ JetBrains IDEs ignore ------
.idea/
.vscode/

# ------ python ignore ------
__pycache__/
*.py[cod]
*$py.class

# ------ C++ compiled files ignore ------
*.pyd
*.so
*.dylib
*.dll
*.lib
!external/**/*.dll
!external/**/*.lib

# ------ package ignore ------
dist/
build/
wheelhouse/
*.egg-info/

# ------ dataset ignore ------
*.h5
*.h5ad
*.ipynb_checkpoints/